
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Share/_Layout.cshtml";
}

@section js{
    <script src="~/views/Default/index.js"></script>
}

<h1>Hello</h1>


<form>
    Usuario
    <input id="name" name="usuario" type="text" />
    Senha:
    <input id="senha" type="password" />
    <input id="btnEntrar" type="button" value="Entrar" onclick="index.btnEntrarOnClick()"/>
    <div id="divMsg">


    </div>
</form>


